<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Books</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<a th:href="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}"><button class="btn btn-info">Log out</button></a>
<a th:href="@{/show-favourites}" th:if="${#authorization.expression('isAuthenticated()')}"><button class="btn btn-info">To liked </button></a>
<a th:href="@{/login}" th:if="${#authorization.expression('isAnonymous()')}"><button class="btn btn-info">Log in</button></a>
<a th:href="@{./register}" th:if="${#authorization.expression('isAnonymous()')}"><button class="btn btn-info">Register</button></a>

<!--<button onclick="window.location='/book/favourite-list';" th:if="${#authorization.expression('hasAuthority(''VIEW_CATALOG'')')}">-->
<!--    View favourite books-->
<!--</button>-->

<br>
<div class="d-flex justify-content-center">
    <form class="form-row" id="createBook">
        <div class="col">
            <input  class="form-control" id="isbn" placeholder="ISBN">
        </div>
        <div class="col">
            <input  class="form-control" id="title" placeholder="Title">
        </div>
        <div class="col">
            <input  class="form-control" id="author" placeholder="Author">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Create</button>
    </form>
</div>

<br>
<div class="d-flex justify-content-center">
    <form class="form-inline" id="findBooks">
        <div class="form-group mx-sm-3 mb-2">
            <input class="form-control" id="find-title" placeholder="Keyword">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Find</button>
    </form>
</div>
<br>

<div class="d-flex justify-content-center">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> ISBN </th>
            <th scope="col"> Title </th>
            <th scope="col"> Author </th>
            <th scope="col" th:if="${#authorization.expression('hasAuthority(''VIEW_CATALOG'')')}">Favourite</th>
        </tr>
        </thead>
        <tbody id="books">
        </tbody>
    </table>
</div>

<ul class="pagination justify-content-center" style="margin:20px 0; cursor: pointer;">
</ul>
<br/>
<script>
    pagesAmount = 0
    currentPage = 1

    $(function() {
        booksTable = document.getElementById("books");
        $(document).ready(function (){
            showBooks(null)
        })

        $('#findBooks').submit(function (e) {
            e.preventDefault();
            showBooks($(this).find('[id=find-title]').val())
            // $.ajax({
            //     type: 'GET',
            //     url: '/find-books',
            //     data: {
            //         title: $(this).find('[id=find-title]').val()
            //     },
            //     beforeSend: function (xhr) {
            //         xhr.setRequestHeader('Content-Type', 'application/json')
            //     },
            //     success: function (response){
            //         fillTable(response)
            //     }
            // })
        })

        $('#createBook').submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/create-book',
                dataType: 'json',
                data: JSON.stringify({
                    isbn: $(this).find('[id=isbn]').val(),
                    title: $(this).find('[id=title]').val(),
                    author: $(this).find('[id=author]').val()
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    showBooks(null)
                }
            });
        });

        function buildPagination(keyword){
            updatedPagesAmount = getPagesAmount(keyword)
            pagingLink = ''
            for(i = pagesAmount + 1; i < updatedPagesAmount + 1; i++){
                if(currentPage === i) {
                    pagingLink += '<li class="page-item active"><a class="page-link"> ' + i + ' </a></li>';
                } else{
                    pagingLink += '<li class="page-item"><a class="page-link"> ' + i + ' </a></li>';
                }
            }
            pagesAmount = updatedPagesAmount
            $("ul.pagination").append(pagingLink)
        }

        function updatePages(){
            if(pagesAmount < getPagesAmount()){
                pagesAmount++
            }
            addPage(pagesAmount)
        }

        function addPage(i){
            $("ul.pagination").append('<li class="page-item"><a class="page-link"> ' + i + ' </a></li>')
        }

        function getPagesAmount(keyword){
            request_url = '/amount'
            if(keyword != null) {
                search_params = new URLSearchParams()
                search_params.append("keyword", keyword)
                request_url+="?" + search_params.toString()
            }

            result = 0
            $.ajaxSetup({async: false});
            $.ajax({
                type: 'GET',
                url: request_url,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    result = response
                }
            })
            $.ajaxSetup({async: true});
            console.log(result)
            return result
        }

        function showBooks(keyword) {
            buildPagination(keyword)
            request_url = "/show-books"
            search_params = new URLSearchParams()
            search_params.append("page", currentPage)
            if(keyword != null) {
                search_params.append("keyword", keyword)
            }
            request_url+="?" + search_params.toString()

            $.ajax({
                type: 'GET',
                url: request_url,
                success: function (data) {
                    console.log("request url:" + request_url)
                    console.log("response:" + data)
                    fillTable(data)
                }
            })
        }

        function fillTable(response) {
            $('#books').empty()
            response.forEach(function (book){
                addToTable(book)
            })
        }

        function addToTable(book) {
            let tr = document.createElement('tr');
            tr.innerHTML = '<td>' + book.isbn + '</td>' +
                    '<td>' + book.title + '</td>' +
                    '<td>' + book.author + '</td>';

            if([[${#authorization.expression('hasAuthority("VIEW_CATALOG")')}]]){
                tr.innerHTML +='<td "><button type="submit" class="btn btn-dark""> LIKE</button></td>';
            }
            console.log(book)
            booksTable.appendChild(tr)
            addFavouriteClickEvent()
        }

        window.onload = addFavouriteClickEvent();
        function addFavouriteClickEvent() {
            let books = document.getElementById('books');
            let rows = books.getElementsByTagName('tr');

            for (const r of rows) {
                const isbn = r.cells[0];
                const title = r.cells[1];
                const author = r.cells[2];
                if([[${#authorization.expression('hasAuthority("VIEW_CATALOG")')}]]){
                        r.cells[3].addEventListener('click', function (e) {
                            e.preventDefault();
                            $.ajax({
                                type: 'POST',
                                url: '/add-favourite',
                                dataType: 'json',
                                data: JSON.stringify({
                                    title: $(title).text(),
                                    isbn: $(isbn).text(),
                                    author: $(author).text()
                                }),
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader('Content-Type', 'application/json')
                                },
                                success: function (response) {
                                    console.log(response);
                                },
                            })
                        })
                }
            }
        }

        $(document).on("click", "ul.pagination li a", function() {
            var data = $(this).attr('data');
            let val = $(this).text();
            $("li.active").removeClass("active");
            $(this).parent().addClass("active");
            currentPage = val
            showBooks($(this).find('[id=find-title]').val())
        })

    });
</script>
</body>
</html>
