<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Books</title>
</head>
<body>

<div class="d-flex justify-content-center">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> ISBN </th>
            <th scope="col"> Title </th>
            <th scope="col"> Author </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td><span th:text="${book.isbn}"> ISBN </span></td>
            <td><span th:text="${book.title}"> Title </span></td>
            <td><span th:text="${book.author}"> Author </span></td>
        </tr>
        </tbody>
    </table>
</div>
<br/>
<div class="d-flex justify-content-center">
    <form action="/create-book" method="get">
        <button type="submit" class="btn btn-primary">Add book </button>
    </form>
</div>
</body>
</html>